.prediction-panel {
    width: 35vw;
    padding: 1.5rem; /* Adds inner spacing for content breathing room */
    background-color: rgb(136, 153, 172);/* Sets a clean white background */
    border: 1px solid #e0e0e0; /* Adds a light border for subtle separation */
    border-radius: 12px 0 0 0; /* Rounds the corners for a softer look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.06); /* Adds depth with a gentle shadow */
    display: flex; /* Enables vertical layout of child elements */
    flex-direction: column; /* Stacks children vertically */
    gap: 1rem; /* Adds space between child elements */
}

.prediction-title {
    font-size: 1.2rem; /* Increases font size for visual hierarchy */
    font-weight: 600; /* Makes the text semi-bold for emphasis */
    margin-bottom: 0.5rem; /* Adds spacing below the title */
    gap: 1rem;
    padding: 1.5rem 
}

.prediction-input {
    margin-bottom: 1rem; /* Adds spacing below the input field */
    padding: 1.5rem ;
}

.prediction-button {
    width: 100%; /* Makes the button stretch to the full width */
    padding: 1.5rem 
}

.prediction-result {
    /* margin-top: 1rem; Adds spacing above the result */
    font-size: 0.875rem; /* Reduces the font size for the result */
    padding: 1rem;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}